<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h2>Made a post</h2>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="username" required> <br><br>
        <!-- <input type="text" placeholder="Add image links.." name="link"><br><br> -->
        <textarea name="content" placeholder="write your post description.." rows="5" cols="23"></textarea><br>
        <button>Submit Post</button>
    </form>
</body>
</html>